.header {
  $self: &;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  &__menu {
    display: flex;
    @include font-basic;
    align-items: center;
    font-size: 1.5rem;
    gap: 1.56rem;
  }
  &__link {
    text-decoration: none;
    color: var(--secondary-bg);
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    &::after {
      content: "";
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.25rem;
      background: var(--main-accent);
      display: block;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s;
      opacity: 0;
    }
    &:hover {
      color: var(--text-primary);
      &::after {
        opacity: 1;
      }
    }
    &--active {
      color: var(--text-primary);
    }
  }

  &__menu,
  &__button {
    display: none;
    @media (min-width: 1024px) {
      display: flex;
    }
  }
  &__burger {
    width: 2.8125rem;
    height: 2.8125rem;
    @media (min-width: 1024px) {
      display: none;
    }
  }
}
