.intro-block {
  background-color: var(--dark-bg);
  flex-grow: 1;
  width: 100%;
  &__main {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 3rem 0;
    gap: 3.12rem;
    flex-direction: column;

    @media (min-width: 768px) {
      gap: 3.4rem;
      flex-direction: column;
    }
    @media (min-width: 1024px) {
      gap: 7.75rem;
      flex-direction: row;
    }
  }

  &__text-block {
    @include flex-column;
    gap: 1.25rem;
    @media (min-width: 768px) {
      gap: 2.5rem;
    }
    @media (min-width: 1024px) {
      width: 50%;
    }
  }

  &__text {
    @include font-basic;
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--text-alternate);
    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
    @media (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }
  &_accent {
    color: var(--main-accent);
  }
  &_first-sign {
    font-size: 0.75rem;
    @media (min-width: 768px) {
      font-size: 1.12rem;
    }
  }
  &__label {
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: 800;
    @media (min-width: 768px) {
      font-size: 2.25rem;
    }
    @media (min-width: 1024px) {
      font-size: 3rem;
    }
  }
  &__button-group {
    display: inline-flex;
    gap: 1.25rem;
    padding-top: 1.25rem;
  }
  &__pic {
    display: flex;
    justify-content: center;
    padding-bottom: 4.37rem;
    @media (min-width: 768px) {
      align-self: center;
    }
    @media (min-width: 1024px) {
      width: 50%;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__appointment {
    @include flex-column;
    gap: 2rem;
  }
  &__schedule-link {
    display: flex;
    gap: 0.63rem;
    align-items: center;
    @media (min-width: 768px) {
      gap: 1.25rem;
    }
  }
  &__schedule-icon {
    width: 1.87rem;
    height: 1.87rem;
    border-radius: 0.625rem;
    background-color: var(--transparent-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      width: 3.12rem;
      height: 3.12rem;
    }
  }
  &__icon-time {
    width: 1.25em;
    height: 1.25rem;
    @media (min-width: 768px) {
      width: 1.87rem;
      height: 1.87rem;
    }
  }
  &__schedule-text {
    @include font-basic;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-primary);
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
}
