.result-block {
  padding-top: 5.25rem;
  padding-bottom: 3rem;
  @media (min-width: 768px) {
    padding-top: 3.56rem;
  }
  @media (min-width: 1024px) {
    padding-top: 3.9rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--transparent-bg3);
    border-radius: 1.25rem;
    overflow: hidden;
  }
  &__form-header {
    background-color: var(--transparent-bg);
    padding: var(--padding-vertical-s) var(--padding-horizontal-s);
    @media (min-width: 768px) {
      padding: var(--padding-vertical-m) var(--padding-horizontal-l);
    }
    @media (min-width: 1024px) {
      padding: var(--padding-vertical-l) var(--padding-horizontal-m);
    }
  }
  &__text {
    @include font-basic;
    color: var(--text-primary);
    font-size: 0.625rem;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 1.25rem;
    }
    @media (min-width: 1024px) {
      font-size: 1.5rem;
    }
  }
  &__form-main {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: var(--padding-vertical-s) var(--padding-horizontal-s);
    @media (min-width: 768px) {
      padding: var(--padding-vertical-m) var(--padding-horizontal-l);
    }
    @media (min-width: 1024px) {
      padding: var(--padding-vertical-l) var(--padding-horizontal-m);
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__form-footer {
    padding-inline: var(--padding-horizontal-s);
    padding-bottom: var(--padding-vertical-s);
    @media (min-width: 768px) {
      padding-inline: var(--padding-horizontal-l);
      padding-bottom: var(--padding-vertical-m);
    }
    @media (min-width: 1024px) {
      padding-inline: var(--padding-horizontal-m);
      padding-bottom: var(--padding-vertical-l);
    }
  }
  &__text-active {
    display: block;
    color: var(--main-accent);
    text-align: center;
    padding: 0.8rem;
    background-color: var(--transparent-bg);
    border-radius: 0.6rem;
  }
  &__link {
    text-decoration: none;
    cursor: pointer;
    color: var(--main-accent);
    transition: 0.3s;
    &:hover {
      text-decoration: underline;
    }
  }
}
