<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/main.min.css" />
    <title>quote-card</title>
  </head>
  <body>
    <div class="quote-card">
      <h4 class="quote-card__label">Get a quote</h4>
      <p class="quote-card__text">Please do enter your email address below</p>
      <div class="quote-card__input">
        <input
          class="quote-card__input-input"
          type="text"
          placeholder="lenux.ng@gmail.com"
        />
        <button class="quote-card__button">
          <svg class="quote-card__icon">
            <use href="../../assets/images/icon-sprite.svg#send"></use>
          </svg>
        </button>
      </div>
    </div>
  </body>
</html>
