<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/main.min.css" />
    <title>Reason-card</title>
  </head>
  <body>
    <div class="reason-card">
      <div class="reason-card__logo-wrap">
        <svg class="reason-card__logo">
          <use href="../../assets/images/icon-sprite.svg#users"></use>
        </svg>
      </div>
      <h3 class="reason-card__label">Minimize the spread of the Virus</h3>
      <a class="reason-card__link" href="#"
        >Read More
        <svg class="reason-card__arrow-icon">
          <use href="../../assets/images/icon-sprite.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </body>
</html>
