<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/main.min.css" />
    <title>revieuw card</title>
  </head>
  <body>
    <div class="revieuw-card revieuw-card_secondary">
      <div class="revieuw-card__logo-block">
        <img
          class="revieuw-card__logo"
          src="../../assets/images/Rectangle 25.png"
          alt="patient photo"
        />

        <div class="revieuw-card__logo-info">
          <p class="revieuw-card__name revieuw-card__name_secondary">
            Oyindamola Maja
          </p>
          <p class="revieuw-card__location revieuw-card__location_secondary">
            Badagry, Lagos
          </p>
        </div>
      </div>
      <div class="revieuw-card__description">
        <p class="revieuw-card__text">
          “Been stressing about a close centre to get the
          <span
            class="revieuw-card__text-accent revieuw-card__text-accent_secondary"
            >covid-19</span
          >
          vaccine, until i tried Vaccination.ng”
        </p>
      </div>
    </div>
  </body>
</html>
