<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Symptom card</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/main.min.css" />
  </head>
  <body>
    <div class="symptom-card">
      <img
        class="symptom-card__img"
        src="../../assets/images/coronavirus-2996952-2495219.png"
        alt="coronavirus photo"
      />
      <div class="symptom-card__text-block">
        <p class="symptom-card__text">High Fever</p>
      </div>
    </div>
  </body>
</html>
