<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/main.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="vaccine-card">
      <div class="vaccine-card__bg">
        <img
          class="vaccine-card__img"
          src="../../assets/images/unsplash_wnSEwHMhxho.png"
          alt="vaccine ampule COVID-19"
        />
      </div>
      <div class="vaccine-card__logo vaccine-card_left">
        <img
          class="vaccine-card__img vaccine-card_small"
          src="../../assets/images/Group 17.png"
          alt="doctor taking safety measures"
        />
      </div>
      <div class="vaccine-card__logo vaccine-card_rigth">
        <img
          class="vaccine-card__img vaccine-card_small"
          src="../../assets/images/Group 18.png"
          alt="doctor taking safety measures"
        />
      </div>
      <div class="vaccine-card__card">
        <img
          class="vaccine-card__img"
          src="../../assets/images/Group 21.png"
          alt="doctor taking safety measures"
        />
      </div>
    </div>
  </body>
</html>
