<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/main.min.css" />
    <title>Document</title>
  </head>
  <body>
    <input
      class="input input_disabled"
      type="text"
      placeholder="disabled"
      disabled
    />
    <input class="input input_error" type="text" placeholder="error" />
    <input
      class="input input_success"
      type="text"
      placeholder="input_success"
    />
    <input class="input input_quote" type="text" placeholder="quote" />
    <input class="input input_form" type="text" placeholder="input" />
  </body>
</html>
