.input {
  @include font-basic;
  font-weight: 500;
  border-radius: 0.6rem;
  background: var(--input-bg);
  padding: 1rem;
  border-style: none;
  transition: 0.3s;
  font-size: 0.75rem;
  border: 1px solid transparent;

  cursor: pointer;
  color: var(--secondary-bg);
  &::placeholder {
    color: var(--secondary-bg);
  }
  @media (min-width: 768px) {
    padding: 1.44rem;
  }
  @media (min-width: 1024px) {
    width: 100%;
  }
  &_vaccine {
    &::placeholder {
      color: var(--input-text);
    }
    width: auto;
  }
  &_medium {
    &::placeholder {
      color: var(--input-text);
    }
    @media (min-width: 768px) {
      flex-grow: 1;
    }
  }
  &_disabled {
    background-color: var(--secondary-bg);
    pointer-events: none;
  }
  &_error {
    border: 1px solid var(--error);

    &:hover {
      border: 1px solid var(--error);
    }
  }
  &_success {
    border: 1px solid var(--main-accent);
    &:hover {
      border: 1px solid var(--main-accent);
    }
  }
  &_quote {
    background-color: var(--text-primary);
    border: 3px solid var(--main-accent);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 1.78rem 2.5rem;
    color: var(--input-text);
    font-size: 1.25rem;
    &::placeholder {
      color: var(--input-text);
    }
  }
  &_form {
    background-color: var(--secondary-bg);
    border: 3px solid transparent;
  }
  &:hover {
    border: 1px solid var(--main-accent);
  }
}
