.button {
  @include font-basic;
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--text-primary);
  padding: var(--padding-button);
  border-radius: 1.25rem;
  cursor: pointer;
  border-style: none;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
  &--form {
    width: 33%;
  }
  &_primary {
    background-color: var(--transparent-bg);
    box-shadow: 0px 4px 4px 0px var(--input-text);
    transition: 0.5s;
    color: var(--main-accent);
    border: 1px solid transparent;
    &:hover {
      border: 1px solid var(--main-accent);
    }
  }
  &_action {
    background-color: var(--main-accent);
    transition: 0.5s;
    &:hover {
      background-color: darken(#17c2ec, 10%);
    }
  }
  &_get-vaccine {
    margin-top: 2.5rem;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}
