<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../styles/main.min.css" />
    <title>Button component</title>
  </head>
  <body>
    <button class="button button_primary">Help centre</button>
    <button class="button button_action">Get vaccine</button>
    <div>
      <button class="button button_send">
        <svg
          class="button__icon"
          width="40"
          height="40"
          viewBox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M36.6667 3.3335L18.3333 21.6668"
            stroke="white"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M36.6667 3.33301L25 36.6663L18.3333 21.6663L3.33334 14.9997L36.6667 3.33301Z"
            stroke="white"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </body>
</html>
