<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/main.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="schedule-form">
      <div class="schedule-form__cell">
        <div class="schedule-form__icon">
          <svg
            class="schedule-form__icon-icon"
            width="31"
            height="30"
            viewBox="0 0 31 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M27.1913 12.5C27.1913 21.25 15.95 28.75 15.95 28.75C15.95 28.75 4.70862 21.25 4.70862 12.5C4.70862 9.51631 5.89297 6.65483 8.00113 4.54505C10.1093 2.43526 12.9686 1.25 15.95 1.25C18.9314 1.25 21.7906 2.43526 23.8988 4.54505C26.007 6.65483 27.1913 9.51631 27.1913 12.5Z"
              stroke="#17C2EC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M15.95 16.25C18.0195 16.25 19.6971 14.5711 19.6971 12.5C19.6971 10.4289 18.0195 8.75 15.95 8.75C13.8805 8.75 12.2029 10.4289 12.2029 12.5C12.2029 14.5711 13.8805 16.25 15.95 16.25Z"
              stroke="#17C2EC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="schedule-form__info">
          <p class="schedule-form__label">Location</p>
          <p class="schedule-form__text">Ikeja Lagos, Nigeria</p>
        </div>
      </div>
      <div class="schedule-form__cell">
        <div class="schedule-form__icon">
          <svg
            class="schedule-form__icon-icon"
            ="31"
            height="30"
            viewBox="0 0 31 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.4109 5H6.92435C5.5447 5 4.42627 6.11929 4.42627 7.5V25C4.42627 26.3807 5.5447 27.5 6.92435 27.5H24.4109C25.7905 27.5 26.909 26.3807 26.909 25V7.5C26.909 6.11929 25.7905 5 24.4109 5Z"
              stroke="#17C2EC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M20.6638 2.5V7.5"
              stroke="#17C2EC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.6715 2.5V7.5"
              stroke="#17C2EC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M4.42627 12.5H26.909"
              stroke="#17C2EC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="schedule-form__info">
          <p class="schedule-form__label">Date</p>
          <p class="schedule-form__text">11 November, 2023</p>
        </div>
      </div>
      <div class="schedule-form__cell">
        <div class="schedule-form__icon">
          <svg
            class="schedule-form__icon-icon"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.9807 27.5C14.9807 27.5 24.973 22.5 24.973 15V6.25L14.9807 2.5L4.9884 6.25V15C4.9884 22.5 14.9807 27.5 14.9807 27.5Z"
              stroke="#17C2EC"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="schedule-form__info">
          <p class="schedule-form__label">Vaccine Type</p>
          <p class="schedule-form__text">Moderna</p>
        </div>
      </div>
      <div class="schedule_cell">
        <button class="button button_action">Submit</button>
      </div>
    </div>
  </body>
</html>
