<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/main.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="schedule-form">
      <div class="schedule-form__cell">
        <div class="schedule-form__icon">
          <svg class="schedule-form__icon-icon">
            <use href="assets/images/icon-sprite.svg#map-in"></use>
          </svg>
        </div>
        <div class="schedule-form__info">
          <p class="schedule-form__label">Location</p>
          <p class="schedule-form__text">Ikeja Lagos, Nigeria</p>
        </div>
      </div>
      <div class="schedule-form__cell">
        <div class="schedule-form__icon">
          <svg class="schedule-form__icon-icon">
            <use href="assets/images/icon-sprite.svg#calendar"></use>
          </svg>
        </div>
        <div class="schedule-form__info">
          <p class="schedule-form__label">Date</p>
          <p class="schedule-form__text">11 November, 2023</p>
        </div>
      </div>
      <div class="schedule-form__cell">
        <div class="schedule-form__icon">
          <svg class="schedule-form__icon-icon">
            <use href="assets/images/icon-sprite.svg#shield"></use>
          </svg>
        </div>
        <div class="schedule-form__info">
          <p class="schedule-form__label">Vaccine Type</p>
          <p class="schedule-form__text">Moderna</p>
        </div>
      </div>
      <div class="schedule_cell">
        <button class="button button_action">Submit</button>
      </div>
    </div>
  </body>
</html>
