.container {
  padding-inline: 2.2rem;
  @include flex-column;
  max-width: 1200px;
  margin: auto;
  @media (min-width: 1024px) {
    padding-inline: 3.12rem;
  }
  @media (min-width: 1200px) {
    padding-inline: 4.44rem;
  }
}
